html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #303034;
}

body {
    font-family: 'lato';
}

#main, .app-container {
    height: 100%;
}

header {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.29);
    background: linear-gradient(to right, #050a45, #391a4f);
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

header a {
    color: white;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1.3px;
    text-decoration: none;
}

.app-content {
    box-sizing: border-box;
    padding: 15px;
    height: 100%;
    background: #f9f9f9;
    width: 100%;
    z-index: 5;
}

.gong-container {
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.5s linear;
    vertical-align: middle;
    width: 100%;
    z-index: 10;
}

.gong-container.has-gong {
    display: block;
    opacity: 1;
}

.gong-container .gong-text {
	font-size: 38px;
	font-weight: 900;
	color: #373737;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.gong-text img {
    display: block;
}

.gong-container + .app-container {
    filter: blur(10px);
}

.top-row, .bottom-row {
    text-align: center;
}

.top-row {
    margin-bottom: 20px;
}

.stats-block {
    background: white;
    border-radius: 5px;
    box-shadow: 2px 3px 10px #EEE;
    display: inline-block;
    min-height: 305px;
    padding: 15px 20px;
    text-align: left;
    vertical-align: top;
    width: 45%;
}

.stats-block:not(:last-child) {
    margin-right: 1%;
}

.panel-header {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}

.recent-sales-table {
    width: 100%;
    table-layout: auto;
    border-spacing: 0;
}

.recent-sales-table thead tr {
    height: 25px;
}

.recent-sales-table thead tr th {
	color: #9a96a7;
	font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.recent-sales-table tbody tr {
    height: 50px;
}

.recent-sales-table tbody tr td {
    border-top: 1px solid #f2f2f2;
    font-size: 13px;
}

.recent-sales-table tbody tr td.company-name {
    font-size: 15px;
    font-weight: 600;
}

.image-cropper {
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    height: 35px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    width: 35px;
}

.sale-date-label {
    background:  linear-gradient(to left, #f57978, #df086a);
    padding: 5px 10px;
    border-radius: 13px;
    color: white;
}

.sale-amount {
    font-size: 20px;
}

.my-cool-chart, .hottest-features-chart {
    width: 100%;
    height: 100%;
}

g.highcharts-series.highcharts-column-series.highcharts-color-undefined.highcharts-tracker > .highcharts-point {
    fill-opacity: 0.3;
}

.highcharts-point:hover {
    fill-opacity: 1 !important;
}

.tooltip {
    border-radius: 3px !important;
    border: 0 !important;
    box-shadow: 0px 0px 5px 2px rgba(185, 185, 185, 0.36);
    min-height: 150px;
    min-width: 200px;
    padding: 10px !important;
    line-height: 1.5;
}

.tooltip .name {
    font-weight: bold;
}

svg.bubble-legend {
    display: none;
}

.form-group label {
    width: 200px;
    display: inline-block;
    line-height: 2.3;
}

.form-group input {
        height: 25px;
    border-radius: 3px;
    border: 1px solid #eee;
    text-indent: 5px;
}




#confetti {
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: -160px;
    z-index: 10000;
}

#confetti .ball {
    animation-iteration-count :infinite !important;
    -webkit-animation-iteration-count :infinite !important;
    border-radius: 50%;
    cursor: default;
    display: inline-block;
    height: 10px;
    user-select: none;
    -webkit-user-select: none;
    width: 10px;
}

@-webkit-keyframes falling-left {
    0% {-webkit-transform: translate3d(0,0,0);opacity: 1;}
    10% { opacity: 0;}
    20% { opacity: 1;}
    30% { opacity: 0;}
    40% { opacity: 1;}
    50% { opacity: 0;}
    60% { opacity: 1;}
    70% { opacity: 0;}
    80% { opacity: 1;}
    90% { opacity: 0;}
    100% {-webkit-transform: translate3d(0,120vh,0); opacity: 1;}
}

@keyframes falling-left {
    0% {-webkit-transform: translate3d(0,0,0);opacity: 1;}
    10% { opacity: 0;}
    20% { opacity: 1;}
    30% { opacity: 0;}
    40% { opacity: 1;}
    50% { opacity: 0;}
    60% { opacity: 1;}
    70% { opacity: 0;}
    80% { opacity: 1;}
    90% { opacity: 0;}
    100% {-webkit-transform: translate3d(0,120vh,0); opacity: 1;}
}

#confetti .ball:nth-child(2n) {
    -webkit-animation: falling-left linear;
    animation: falling-left linear ;
}

@-webkit-keyframes falling-right {
    0% {-webkit-transform: translate3d(0,0,0);opacity: 0;}
    10% { opacity: 1;}
    20% { opacity: 0;}
    30% { opacity: 1;}
    40% { opacity: 0;}
    50% { opacity: 1;}
    60% { opacity: 0;}
    70% { opacity: 1;}
    80% { opacity: 0;}
    90% { opacity: 1;}
    100% {-webkit-transform: translate3d(0,120vh,0); opacity: 0;}
}

@keyframes falling-right {
    0% {-webkit-transform: translate3d(0,0,0);opacity: 1;}
    10% { opacity: 0;}
    20% { opacity: 1;}
    30% { opacity: 0;}
    40% { opacity: 1;}
    50% { opacity: 0;}
    60% { opacity: 1;}
    70% { opacity: 0;}
    80% { opacity: 1;}
    90% { opacity: 0;}
    100% {-webkit-transform: translate3d(0,120vh,0); opacity: 0;}
}

#confetti .ball:nth-of-type(2n+1) {
    -webkit-animation: falling-right linear ;
    animation: falling-right linear;
}
